* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, serif;
}

body {
  background: url('Backgroundimg.jpg') no-repeat center center/cover;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}

.card {
  width: 100%;
  max-width: 450px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}


.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  font-size: 1rem;
}

.search button {
  width:40px;
  border: none;
  background: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search button img {
  width: 15px;
}


.weather img {
  width: 100px;
  margin: 10px 0;
}

.temp {
  font-size: 2.5rem;
}

.city {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
}

.col {
  flex: 1 1 45%;
  margin: 10px 5px;
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 10px;
}

/* Toggle button */
.toggle-btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background: #fff;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover effect */
.toggle-btn:hover {
  background: #255290;
  color: #080808;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(232, 227, 227, 0.3);
}


.more-details {
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: left;
  background: rgba(255,255,255,0.1);
  padding: 12px;
  border-radius: 10px;
}



@media (max-width: 600px) {
  .card {
    padding: 15px;
  }

  .temp {
    font-size: 2rem;
  }

  .city {
    font-size: 1.2rem;
  }

  .details {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 100%;
  }

  .search input {
    font-size: 0.9rem;
  }
}
